[Unit]
Description=Home automation

[Service]
ExecStart=FLASK_EXECUTABLE run --host=0.0.0.0 --port 5000
Restart=always
Environment=FLASK_APP=david_home_automation.main

[Install]
WantedBy=multi-user.target