[Unit]
Description=Home automation

[Service]
ExecStart=python3 -m david_home_automation.server --server-host=0.0.0.0 --server-port 5000
Restart=always

[Install]
WantedBy=multi-user.target